@media (max-width: 992px) {
  .navbar-brand,
  .brand-icon {
    font-size: var(--text-lg) !important;
  }

  .navbar-nav .nav-link {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1rem;
  }

  .mobile-extra {
    border-top: 1px solid rgb(30, 41, 57);
    padding-top: 1rem;
  }

  .navbar-collapse {
    border-top: 1px solid var(--color-gray-800);
    margin-top: 1rem;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .navbar-nav .nav-item {
    margin-top: 1rem;
  }

  .extra-item {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    color: var(--color-light);
    font-size: 1.05rem;
  }

  .extra-item i {
    width: 1.5rem;
    text-align: center;
    margin-right: 0.5rem !important;
  }

  .nav-button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0 !important;
  }

  .our-games-imgs {
    width: 450%;
  }

  header > span {
    font-size: var(--text-lg);
  }

  header h3 {
    font-size: var(--text-4xl);
  }

  header p {
    font-size: var(--text-4xl);
  }

  .our-team header p,
  .contact-us header p {
    color: var(--color-gray-400);
    font-size: var(--text-xl);
  }
}

@media (max-width: 768px) {
  .our-games-imgs {
    width: 900% !important;
  }

  .hero-text h3 {
    font-size: var(--text-5xl);
  }

  header > span {
    font-size: var(--text-md);
  }

  header h3 {
    font-size: var(--text-3xl);
  }

  header p {
    font-size: var(--text-3xl);
  }

  .our-team header p,
  .contact-us header p {
    color: var(--color-gray-400);
    font-size: var(--text-lg);
  }
}

@media (max-width: 576px) {
  .hero-right {
    width: 90%;
  }

  .hero-text h3 {
    font-size: var(--text-4xl);
  }

  .hero-text p {
    font-size: var(--text-sm);
  }

  .start-gaming {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  .watch-tournaments {
    width: 100%;
    font-size: 0.75rem;
  }

  .hero-img {
    height: calc(var(--spacing) * 64);
  }

  .img-span {
    padding: calc(var(--spacing) * 4);
    left: calc(var(--spacing) * -4);
    bottom: calc(var(--spacing) * -4);
  }

  .img-span .fa-trophy {
    font-size: var(--text-lg);
  }

  .img-span-text span:first-child {
    font-size: var(--text-xs);
  }
  .img-span-text span:last-child {
    font-size: var(--text-lg) !important;
  }

  .nav-arrow {
    font-size: var(--text-lg) !important;
    width: calc(var(--spacing) * 12) !important;
    height: calc(var(--spacing) * 12) !important;
  }

  .our-games-button button:last-child {
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 6);
    width: 100%;
    font-size: var(--text-xs);
  }

  .title-line {
    height: 3px;
    width: calc(var(--spacing) * 8);
  }

  header > span {
    font-size: var(--text-sm);
  }

  header h3 {
    font-size: var(--text-2xl);
  }

  header p {
    font-size: var(--text-2xl);
  }

  .our-games-imgs {
    width: 900% !important;
  }

  .team-card h4 {
    font-size: 1rem;
  }

  .team-card-img,
  .team-card .color-img {
    height: 340px;
  }

  .what-we-do-card h3 {
    font-size: var(--text-sm);
  }

  .what-we-do-card i {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10) !important;
    font-size: var(--text-lg);
  }

  .our-team header p,
  .contact-us header p {
    color: var(--color-gray-400);
    font-size: var(--text-md);
  }

  .contact-form-card h3 {
    font-size: var(--text-xl);
  }
  .send-message-btn {
    font-size: var(--text-md);
  }

  .contact-info-icon {
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 14) !important;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xl);
    color: var(--color-dark);
  }

  .contact-info-title {
    font-size: var(--text-lg);
  }

  .contact-info-text {
    font-size: var(--text-sm);
  }

  .footer-brand-name {
    font-size: var(--text-lg);
  }

  .footer-social-link {
    margin-right: 0.5rem;
    font-size: var(--text-lg);
  }

  .footer-col-title {
    font-size: var(--text-md);
  }

  .footer-links a,
  .footer-legal-link,
  .footer-copy {
    font-size: var(--text-sm);
  }
}
